
<%= form_with(model: @promotion) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br>
  <div>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  <br>
  <div>
    <%= f.label :discount_rate %>
    <%= f.text_field :discount_rate %>
  </div>
  <br>
  <div>
    <%= f.label :coupon_quantity %>
    <%= f.text_field :coupon_quantity %>
  </div>
  <br>
  <div>
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>