<% if flash[:notice] %>
  <div>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
<br>
<%= link_to 'Voltar', promotions_path %>

<h1><%= @promotion.name %></h1>
<dl>
  <dt>Descrição</dt>
  <dl><%= @promotion.description %></dl>
  <dt>Porcentagem de Desconto</dt>
  <dl><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dl>
  <dt>Código da Promoção</dt>
  <dl><%= @promotion.code %></dl>
  <dt>Data de Expiração</dt>
  <dd><%= I18n.localize(@promotion.expiration_date) %></dd>
  <dt>Quantidade de Cupons</dt>
  <dd><%= @promotion.coupon_quantity %></dd>
</dl>
<%= link_to 'Editar Promoção', edit_promotion_path %>
<br><br>
<%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %> 

<br><br>
<% @promotion.coupons.each do |coupon| %>
  <%= coupon.code %>
  <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>

<% end %>
